* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.container {
  max-width: 68.75rem;
  margin: 1rem auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 1rem auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.logo img {
  width: 250px;
  object-fit: cover;
}
